In [3]:
import pandas as pd
import os

In [10]:
data_prep_path = '/Users/subashkhanal/Desktop/MLforAlzheimers/data/ADNI/genetics/data_prep'
stats_path = '/Users/subashkhanal/Desktop/MLforAlzheimers/data/ADNI/genetics/stats'

In [5]:
df = pd.read_csv(os.path.join(data_prep_path,'ADNI_Imaging_Gene_Expression_MMSE_Combined.csv'),low_memory=False)

In [7]:
df = df.T

In [9]:
df.columns = df.iloc[0]
df = df.drop(df.index[[0]])
df.head()

PTID,COLPROT,VISCODE,EXAMDATE,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,APOE4,FDG_bl,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
116_S_1249,ADNIGO,m48,2/23/11,70.8,Female,15,Not Hisp/Latino,White,1,NaN,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
037_S_4410,ADNI2,bl,1/4/12,69.1,Female,14,Not Hisp/Latino,White,0,1.24502,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
006_S_4153,ADNI2,bl,9/9/11,79.3,Male,20,Not Hisp/Latino,White,1,1.11946,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
116_S_1232,ADNIGO,m48,2/16/11,72.1,Female,14,Not Hisp/Latino,White,0,NaN,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
099_S_4205,ADNI2,bl,11/4/11,81.4,Female,18,Not Hisp/Latino,White,0,1.24726,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883

In [28]:
stat_test = pd.read_csv(os.path.join(stats_path,'t_test_geneExpr.csv'))
full = 200
partial = 50
portion = full

In [29]:
top_AD_CN = stat_test.sort_values(by=['AD_CN']).iloc[0:portion]#['Unnamed: 0.1']
top_AD_MCI = stat_test.sort_values(by=['AD_MCI']).iloc[0:portion]#['Unnamed: 0.1']
top_CN_MCI = stat_test.sort_values(by=['CN_MCI']).iloc[0:portion]#['Unnamed: 0.1']

In [31]:
df_CN = df[df['DX']=='CN']
df_AD = df[df['DX']=='Dementia']
df_MCI = df[df['DX']=='MCI']

In [32]:
df_CN.columns

Index(['COLPROT', 'VISCODE', 'EXAMDATE', 'AGE', 'PTGENDER', 'PTEDUCAT',
       'PTETHCAT', 'PTRACCAT', 'APOE4', 'FDG_bl',
       ...
       'AFFX-r2-TagH_at', 'AFFX-r2-TagIN-3_at', 'AFFX-r2-TagIN-5_at',
       'AFFX-r2-TagIN-M_at', 'AFFX-r2-TagJ-3_at', 'AFFX-r2-TagJ-5_at',
       'AFFX-r2-TagO-3_at', 'AFFX-r2-TagO-5_at', 'AFFX-r2-TagQ-3_at',
       'AFFX-r2-TagQ-5_at'],
      dtype='object', name='PTID', length=49417)

In [36]:
class1 = df_CN[['AGE','PTGENDER','APOE4','DX']+list(top_200_AD_CN['PTID'])]
class2 = df_AD[['AGE','PTGENDER','APOE4','DX']+list(top_200_AD_CN['PTID'])]

In [37]:
overall_df = pd.concat([class1, class2], axis=0)

In [38]:
overall_df.shape

(357, 204)

In [39]:
len(CN)+len(AD)

357

In [40]:
y = overall_df['DX']

In [41]:
X = overall_df.drop(columns = ['DX'])

In [42]:
X['PTGENDER'] = X['PTGENDER'].astype('category').cat.codes

In [43]:
X.shape, y.shape

((357, 203), (357,))

In [44]:
X.head()

PTID,AGE,PTGENDER,APOE4,11742204_a_at,11746877_a_at,11730765_at,11748344_x_at,11757474_x_at,11736880_x_at,11742220_x_at,...,11731422_s_at,11759183_at,11736837_a_at,11718323_at,11742017_a_at,11749758_s_at,11731375_a_at,11762439_at,11731114_a_at,11731062_s_at
116_S_1249,70.8,0,1,8.297,3.678,2.685,2.944,11.657,6.364,5.996,...,10.113,4.413,4.511,6.926,5.201,6.978,2.974,2.324,2.105,5.04
037_S_4410,69.1,0,0,8.721,3.528,2.871,3.149,11.697,5.628,6.267,...,10.607,4.204,4.18,6.855,5.911,5.521,3.326,2.318,2.153,5.043
116_S_1232,72.1,0,0,8.687,3.841,2.574,2.767,11.389,5.975,6.127,...,9.801,4.81,5.143,7.27,6.083,6.8,3.1,2.563,2.099,5.6
128_S_0205,66.5,0,0,8.341,3.302,2.245,2.951,11.373,6.327,6.112,...,9.848,4.47,4.034,6.679,5.248,6.189,2.717,2.427,2.038,5.531
036_S_4491,84.1,1,0,8.545,4.024,5.755,3.417,11.548,5.225,5.797,...,9.128,4.184,5.147,6.523,6.035,7.315,4.258,2.352,2.498,4.676

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [46]:
K = 5
kfold = StratifiedKFold(n_splits=K, shuffle=True, random_state=1)
# enumerate the splits and summarize the distributions
index_array = []
for train_ix, test_ix in kfold.split(X, y):
    
    fold_index = [train_ix,test_ix]
    index_array.append(fold_index)

In [47]:
import numpy as np
X = np.array(X)
y = np.array(y)

In [63]:
import random
random.seed(30)
clf = RandomForestClassifier(n_estimators=200,random_state=30)
tr_acc = []
ts_acc = []

for i in range(K):
    X_train, y_train = X[index_array[i][0]], y[index_array[i][0]]
    X_test, y_test = X[index_array[i][1]], y[index_array[i][1]]
    clf.fit(X_train, y_train)
    y_pred_train = clf.predict(X_train)
    y_pred_test = clf.predict(X_test)
    train_acc = (y_pred_train == y_train).sum()/len(y_train)
    test_acc = (y_pred_test == y_test).sum()/len(y_test)
    
    tr_acc.append(train_acc)
    ts_acc.append(test_acc)
    
print(np.array(tr_acc).mean(),np.array(ts_acc).mean())

# 1.0 0.7450312989045382 while including APOE4 feature
#When that is removed!

1.0 0.7450312989045382

In [64]:
from collections import Counter
Counter(y_test),Counter(y_pred_test)

(Counter({'CN': 48, 'Dementia': 23}), Counter({'CN': 62, 'Dementia': 9}))

In [65]:
from sklearn.metrics import classification_report
y_true = y_test
y_pred = y_pred_test
target_names = ['CN', 'AD']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

          CN       0.76      0.98      0.85        48
          AD       0.89      0.35      0.50        23

    accuracy                           0.77        71
   macro avg       0.82      0.66      0.68        71
weighted avg       0.80      0.77      0.74        71